mixin createProduct(product)
    .col-md-4.mt-4
        .card.product
            a(href=`/products/${product.id}`)
                img(src=product.image href alt=`${product.description}` width=200 height=250).card-img-top.p-5.product-img
                
            .card-body
                h5.card-title
                    a(href=`/products/${product.id}`) #{product.title.substring(0,20)}...
                i.fas.fa-star  #{product.rating.rate}
                hr
                medium.text-muted
                    i.fas.fa-euro-sign  #{product.price}


            .card-footer.text-center                
                a(href=`/products/${product.id}`).btn.btn-outline-primary.btn-sm Details 
                form(action='/cart' method='POST')
                    input(type="hidden" name="_csrf" value=`${csrfToken}`)
                    input(type='hidden' name='productId' value=`${product.id}`)
                    button(type='submit').btn.btn-outline-primary.btn-sm.ml-3 Add to Cart 
                     